/* Computer version */
@media screen and (min-width: 1200px){
    header{
        display: none;
        /* background-color: red; */
    }
    
    main{
        margin-top : 10px;
    }
    aside{
        top: 10px;
    }
   
    .coucou{
        margin: auto;
    }
}
/* Little computer version and more */
@media screen and (min-width: 800px){
    .menu{
        display: none;
    }

    .categorie_spe{
        display: none;
    }
 }


/* Little computer version */
@media screen and (max-width: 1200px) and (min-width: 800px){
    .navigation_bar{
        z-index: 3;
    }
}

/* Little computer version and less*/
@media screen and (max-width: 1200px){
    /* header{
        display: block;
        position: fixed;
        height: 50px;
    } */
    main{
        margin-top: 50px;
        display: block;
        /* background-color: palevioletred; */
    }
    aside{
        margin: 0;
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 0;
    }

    .menu{
        display: block;
        margin: auto;
        margin-left: 10px;
        margin-right: 0;
    }

    .menu img{
        /* width: 25px; */
        /* margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 12px; */
        
        vertical-align: middle
    }

    main{
        display: block;
    }

    main{
        width: 100%;
    }

    .flex-right, .flex-left{
        width: 50%;
    }
    h1{
        font-size: 2vw;
    }

    .home{
        padding: 1vw;
    }

}

/* Tablette version */
@media screen and (max-width: 800px) and (min-width: 500px){
    aside{
        height: 4vh;
    }
    .menu img, .home_icon, .icon_close img{
        width: 4vw;
    }

    .home{
        padding: 0.5vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }

    h2{
        font-size: 1.5vw;
    }

    .mini-img{
        width: 3vw;
        height: 3vw;
    }
   
}

/* Tablette version and less*/
@media screen and (max-width: 800px){
    .navigation_bar{
        left: -55%
    }

    .contenu-main{
        width: 100%;
    }

    .widgets{
        width: 80%;
    }
   
   

}

/* Mobile version */
@media screen and (max-width: 500px){
    h1{
        font-size: 4.5vw;
    }
    h2{
        font-size: 4vw;
    }
    h3{
        font-size: 3.2vw;
    }

    .heure_nav{
        display: none;
    }

    .contenu-main{
        display: inline-block;
    }

    .flex-right, .flex-left{
        margin: auto;
        width: 80%;
    }

    .icon_navbar img{
        width: 5vw;
        height: auto;
    }

    .aside{
        height: 6vh;
    }
    .menu img, .home_icon, .icon_close img{
        width: 6vw;
    }

    .home{
        padding: 1.5vw;
    }

    .bouton_detection{
        width: 100%;
    }

    .mini-img{
        width: 4vw;
        height: 4vw;
    }

    .detailWifi{
        display: none;
    }

    .blocWifi{
        grid-template-columns: 2fr 4fr 2fr;
    }
}
.icon_close{
    text-align: right;
} 