.test{
    width: 100%;
}
p{
    margin-left: 15px;
    
}
h2{
    font-size: 1.2em;
    /* text-decoration: underline; */
}
h1{
    font-size: 1.4em;
    margin: 20px;
}

.bloc{
    margin-top: 20px;
}
a{
    color: #52808B;
}
aside{
    width: 200px;
    padding: 5px;
    margin-top: 5px;
}
.return{
    color: white !important;
    text-decoration: none !important;
}
.desc{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}
img{
    margin: auto;
    margin-top: 20px;
}

.reg{
    margin-top: 30px;
}