
body{
    background-color: rgb(61, 61, 61);
    color: rgb(192, 192, 192);
}

ul{
    list-style-type: none;
}

hr{
    width: 80%;
}

.home_icon{
    width: 30px;
    vertical-align: center;
}
header{
    display: flex;
}
.debug{
    background-color: #5E5E5E;
    margin-top: 10px;
}