.navigation_bar{
    text-align: center;
    background-color: teal;
    position: fixed;
    top: 0; left: 0;
    width: 10%;

}
.icon_navbar img{
    width: 60px;
    height: auto;
}

.categorie{
    padding: 6px;
}

.navigation_bar a{
    text-decoration: none;
    color: white;
}

.navigation_bar .categorie{
   margin: 0%;
}

.categorie:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
/* si la souris scroll sur la barre de menu: 
- alors le container -> position fixe
- la barre -> plus en fixed */
