@media screen and (max-width: 1200px){
    .widgets{
        width: 80%;
        /* border: 1px solid teal; */
    }
}

@media screen and (max-width: 500px){
    .widgets{
        border: 3px dotted red;
    }
    .sous_widgets{
        grid-template-columns: 1fr 1fr;
    }
    .widget{
        grid-area: 1 / 2;
    }
}