main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-top: 10px;
}

.right-content{
    /* border: 1px solid red;
    background-color: tomato; */
    /* background-color: rgb(56, 56, 56); */
    height: min-content;
}
.left-content{
    /* border: 1px solid blue;
    background-color: teal; */
    background-color: rgb(94, 94, 94);
    height: min-content;
}

header{
    /* border:1px solid violet;
    background-color: thistle; */
    background-color: rgb(56, 56, 56);
    padding: 10px;
}

h1{
    font-size: larger;
    text-align: center;
}
.elem-list h2{
    font-size: large;
    margin: 0;
}
h3{
    font-size: medium;
    padding: 0;
    margin:0;
}
.cat{
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 1fr;
    margin-bottom: 2px;
    /* background-color: rgb(150, 200, 247); */
    background-color: rgb(78, 78, 78);
    padding: 8px;
}
.mod, .val{
    justify-self: flex-end;
    /* boutons */
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: 52808B;
    border-radius: 3px;
    cursor: pointer;
}
.elem-list{
    list-style-type: none;
    margin-bottom: 2px;
    padding: 10px;
    padding-left: 10px;
    /* background-color: rgb(238, 184, 133); */
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}

.elem-spe{
    margin-top: 10px;
    margin-bottom: 10px;
}

.elem-list h2::before{
    content: url("../resources/icons/widgets_light/nuageTest.png");
    margin: 10px;
}
.desc{
    /* color: grey; */
}
body{
    margin-right: 5px;
    margin-left: 5px;
}
.form-control{
    height: 25px;
    width: 50%;
}
.middle{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: black;
    color: white;
}

.elem-list:hover{
    /* background-color: rgb(92, 91, 91); */
    background-color: rgb(85, 85, 85) !important;
}
.cat:hover{
    /* background-color: rgb(92, 91, 91); */
    background-color: grey !important;
}

.elem1 h2::before{
    content: url("../resources/icons/setup/board.png");
    margin: 10px;
    vertical-align: middle;
}
.elem2 h2::before{
    content: url("../resources/icons/setup/calibrate.png");
    margin: 10px;
    vertical-align: middle;
}
.elem3 h2::before{
    content: url("../resources/icons/setup/input.png");
    margin: 10px;
    vertical-align: middle;
}
.elem4 h2::before{
    content: url("../resources/icons/setup/output.png");
    margin: 10px;
    vertical-align: middle;
}
.elem5 h2::before, .elem6 h2::before{
    content: url("../resources/icons/setup/motor.png");
    margin: 10px;
    vertical-align: middle;
}
.elem7 h2::before{
    content: url("../resources/icons/setup/miscellaneous.png");
    margin: 10px;
    vertical-align: middle;
}
.elem8 h2::before{
    content: url("../resources/icons/setup/manuf.png");
    margin: 10px;
    vertical-align: middle;
}
.elem9 h2::before{
    content: url("../resources/icons/setup/homing.png");
    margin: 10px;
    vertical-align: middle;
}
.elem10 h2::before{
    content: url("../resources/icons/setup/set.png");
    margin: 10px;
    vertical-align: middle;
}
.elem-spe h2::before{
    content: url("../resources/icons/setup/debug.png");
    margin: 10px;
    vertical-align: middle;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
}
.debug{
    color: rgb(192, 192, 192);
}
hr{
    width: 80%;
}
/* ================ icone home ================ */
.home_icon{
    width: 30px;
    vertical-align: center;
}
header{
    display: flex;
    justify-content: space-between;
}