main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-top: 10px;
}

.right-content{
    height: min-content;
    
}

.left-content{
    background-color: rgb(94, 94, 94);
    height: min-content;
}

header{
    background-color: rgb(56, 56, 56);
    padding: 10px;
}

h1{
    text-align: center;
    margin: auto;
}
.elem-list h2{
    margin: 0;
}
h3{
    padding: 0;
    margin:0;
}
.cat{
    display: grid;
    margin-bottom: 2px;
    background-color: rgb(78, 78, 78);
    padding: 8px;
}

.cat-homming{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 2fr;
    margin-bottom: 2px;
    background-color: rgb(78, 78, 78);
    padding: 8px;
}
.cat-title{
    margin-bottom: 2px;
    background-color: rgb(78, 78, 78);
    padding: 8px;
    text-align: center;
}

.mod, .validate, .validate_spe, .charge, .save, .doHoming, .valid{
    justify-self: flex-end;
    /* boutons */
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #52808B;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    margin-right: 0;
}
.elem-list{
    list-style-type: none;
    margin-bottom: 2px;
    padding: 10px;
    padding-left: 10px;
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}

.elem-spe{
    margin-top: 10px;
    margin-bottom: 10px;
}

.elem-list h2::before{
    content: url("../resources/icons/widgets_light/nuageTest.png");
    margin: 10px;
}
body{
    margin-right: 5px;
    margin-left: 5px;
}
.form-control{
    height: 25px;
    width: 50%;
}
.middle{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
}

body{
    background-color: black;
    color: white;
}

.elem-list:hover{
    background-color: rgb(85, 85, 85) !important;
}
.cat:hover{
    background-color: grey !important;
}

.elem1 h2::before{
    content: url("../resources/icons/setup/board.png");
    margin: 10px;
    vertical-align: middle;
}
.elem2 h2::before{
    content: url("../resources/icons/setup/calibrate.png");
    margin: 10px;
    vertical-align: middle;
}
.elem3 h2::before{
    content: url("../resources/icons/setup/input.png");
    margin: 10px;
    vertical-align: middle;
}
.elem4 h2::before{
    content: url("../resources/icons/setup/output.png");
    margin: 10px;
    vertical-align: middle;
}
.elem5 h2::before, .elem6 h2::before{
    content: url("../resources/icons/setup/motor.png");
    margin: 10px;
    vertical-align: middle;
}
.elem7 h2::before{
    content: url("../resources/icons/setup/miscellaneous.png");
    margin: 10px;
    vertical-align: middle;
}
.elem8 h2::before{
    content: url("../resources/icons/setup/manuf.png");
    margin: 10px;
    vertical-align: middle;
}
.elem9 h2::before{
    content: url("../resources/icons/setup/homing.png");
    margin: 10px;
    vertical-align: middle;
}
.elem10 h2::before{
    content: url("../resources/icons/setup/set.png");
    margin: 10px;
    vertical-align: middle;
}
.elem-spe h2::before{
    content: url("../resources/icons/setup/debug.png");
    margin: 10px;
    vertical-align: middle;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
}
.debug{
    color: rgb(192, 192, 192);
}
hr{
    width: 80%;
}
/* ================ icone home ================ */
.home_icon{
    width: 30px;
    vertical-align: center;
}
header{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
}

.checkDiv, .info-check{
    grid-column: 2 / 3;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    gap: 20px;
}

.cat_spe{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;;
    margin-bottom: 2px;
    background-color: rgb(78, 78, 78);
    padding: 8px;
}

/* =================== */

#liste_baie{
    padding : 0 !important;
    padding-left: 10px !important;
}

.checkDiv>*, .info-check>*{
    flex: 0 0 30%
}