@font-face {
    font-family: Manrope;
    src: url("../resources/font/Manrope/Manrope-VariableFont_wght.ttf");
   }
html{
    font-family: Manrope;
}
h1{
    font-size: large;
}
.sous_widgets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: 3px solid yellow; */
}
.widget{
    /* bloc du widget */
    margin: 3px;
    height: 95%;


    /* titre du widget */
    text-align: center;
    color: white;

}
.widgets{
    /* bloc total*/
    margin: auto;
    width: 60%;
}
.icon{
    margin: 10px;
    margin-bottom: 20px;
}
.meteo_widget{
    margin: 3px;
    margin-bottom: -3px;
    height: 175px;
}
.temps{
}

.icon_type_temps{
    float: left;
    width: 20px;
    margin: 2px;
}
.meteo_widget{
    display: flex;
    justify-content: space-between;
}
.meteo , .time{
    margin: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.temperature , .heure{
    font-size: 3rem;
    font-weight: bold;
}
.meteo_widget{
    color: white;
}

/* Widgets individuels */

.eclairage_widget{
    background-image: url(../resources/background/widgets/fond_eclairage.png);
    background-size: cover;
}

.lames-orientable_widget{
    background-image: url(../resources/background/widgets/fond_lames_orientables.png);
    background-size: cover;
}

.wifi_widget{
    background-image: url(../resources/background/widgets/fond_wifi.png);
    background-size: cover;
}


.parametres_widget{
    background-image: url(../resources/background/widgets/fond_settings.png);
    background-size: cover;
}

.guide_utilisation_widget{
    background-image: url(../resources/background/widgets/fond_guide_utilisation.png);
    background-size: cover;
}

.station_meteo_widget{
    background-image: url(../resources/background/widgets/fond_eclairage.png);
    background-size: cover;
}

.meteo_widget{
    background-image: url(../resources/background/widget_météo/beau.png);
    background-size: cover;
}

/* autres */
a{
    text-decoration: none;
}

.widget:hover{
    box-shadow: 3px 3px 3px grey;
}

.widget, .meteo_widget{
    border-radius: 3px;
}