@font-face {
    font-family: Manrope ;
    src: url("../resources/font/Manrope/Manrope-VariableFont_wght.ttf") ;
   }
html,body{
    font-family: Manrope !important;
}
h1{
    font-size: large;
}

/* ========================== GESTION DES BLOCS - WIDGETS ========================== */

/* Le bloc contenant tout les widgets */
.widgets{
    margin: auto;
    width: 60%;
    margin-top: 20px;
}

/* Bloc contenant les petits widgets*/

/* Les petits widgets */
.widget{
    margin: 3px;
    /* height: 95%; */
    height: 170px;
    /* titre du widget */
    text-align: center;
}

.widget:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.all_canvas{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    margin-right: auto !important;
    margin-left: auto !important;
    gap: 50px;
    padding: min-content;
    width: min-content;
    height: min-content;
}
/* ========================== GESTION DU BLOC METEO ========================== */

.meteo_widget{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    margin: 3px;
    margin-bottom: -3px;
    height: 175px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.type_temps p{
    margin: 0;
}

.type_temps{
    justify-content: center;
    margin: auto;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

.icon_type_temps{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.meteo , .time{
    margin: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%
}
.temperature , .heure{
    font-weight: bold;
}

.icon{
    /* margin: 10px; <============== */ 
    margin-bottom: 20px;
}

.connexion_meteo_widget{
    width: 100px;
}

.meteo_widget{
    margin-bottom: 3px;
}

.temperature, .time .heure{
    text-shadow: rgb(116, 116, 116) 0 0 5px;
}
.connexion_meteo_widget p, .time .jour{
    text-shadow: rgb(0, 0, 0) 0 0 5px;
}
/* ========================== GESTION DES WIDGETS INDIVIDUELS========================== */

.eclairage_widget{
    background-image: url(../resources/background/widgets/fond_eclairage.jpg);
    background-size: 50%;
}

.lames-orientable_widget{
    background-image: url(../resources/background/widgets/fond_lames_orientables.jpg);
    background-size: 50%;
}

.wifi_widget{
    background-image: url(../resources/background/widgets/fond_wifi.jpg);
    background-size: cover;
}


.parametres_widget{
    background-image: url(../resources/background/widgets/fond_settings.jpg);
    background-size: cover;
}

.guide_utilisation_widget{
    background-image: url(../resources/background/widgets/fond_guide_utilisation.jpg);
    background-size: cover;
}

.station_meteo_widget{
    background-image: url(../resources/background/widgets/fond_station_meteo.jpg);
    background-size: cover;
}

.connexion_widget{
    background-image: url(../resources/background/widgets/fond_connexion.jpg);
    background-size: cover;
}

.meteo_widget{
    background-image: url(../resources/background/widget_meteo/beau.jpg);
    background-size: cover;
}

.automate_widget{
    background-image: url(../resources/background/widgets/fond_automate.jpg);
    background-size: cover;
}

.setup_widget{
    background-image: url(../resources/background/widgets/fond_setup.jpg);
    background-size: cover;
}

/* ========================== AUTRE ========================== */
a{
    text-decoration: none;
}

.widget, .meteo_widget, aside{
    border-radius: 3px;
}

.connexion_icon{
    /* float: left; */
    width: 20px;
    height: 20px;
    margin: auto;
    /* margin: 3%; */
    /* margin-block-end: 1em; */
}

/* ========================== ASIDE ========================== */

aside{
    color: white;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    /* background-color: #7093AE; */
    /* position: fixed; */
    border-radius: 3px;
}

.info_icon{
    width: 20px;
    margin: auto;
}

.elev_icon{
    width: 15px;
    height: 15px;
    margin: auto;
    margin-bottom: 6px;
    margin-right: 3px;
}

.info, .connexion{
    margin: auto;
}

.connexion{
    text-align: center;
    width: 115px;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: left;
}

.connexion p{
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    /* border: 1px solid blue; */
}

aside p {
    margin: auto;
}

.elev_sol{
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}


/* ==================== MODAL ============== */

.modal-title{
    margin: 20px;
}
.modal-body{
    text-align: center;
}
.overlay_button{
    color: white;
    background-color: #52808B;
    margin: 5px; 
    margin-top: 20px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.group_overlay_button{
    justify-content: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ 
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

.b_second{
    background-color: #84afb9; 
}

.image{
    width: 50%;
}
input{
    font-size: 0.75em !important;
    line-height: normal;
    font-family: roboto !important;
}

button, select, optgroup, textarea{
    font-size: 0.8em !important;
}

