@font-face {
    font-family: Manrope;
    src: url("../resources/font/Manrope/Manrope-VariableFont_wght.ttf");
   }
html{
    font-family: Roboto;
    font-size: thin;
}

/* ========================== LES DIFFERENTS COMPOSANTS ========================== */

h1{
    font-family: Manrope;
    font-size: large;
    text-align: center;
}

main{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: */
    color: white;
}

.test{
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px;

    background: linear-gradient(to bottom right, #7692B5, #8090C1);

}

.flex-right , .flex-left{
    width: 50%;
}

hr{
    width: 90%;
}


/* ========================== ASIDE ========================== */

aside{
    color: white;
    display: flex;
    background-color: #7093AE;
    /* width: 15%; */
    /* justify-content: space-around; */
    position: fixed;
    right: 10px;
    width: 225px;
    border-radius: 3px;
}

.connexion_icon{
    float: left;
    width: 20px;
}

.home_icon{
    width: 25px;
    margin: auto;
}

.home, .connexion{
    margin: auto;
}

.connexion{
    text-align: center;
    width: 115px;
}

aside p {
    margin: auto;
}

.heure_nav{
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 10px;
    padding-left: 10px;
}
