.bouton_detection{
    margin: auto;
    background-color: #52808B;
    border-radius: 3px;
    width: 50%;
}

.bouton_detection h1{
    padding: 5px;
}

.bouton_detection:hover{
    cursor : pointer
}

.modal-title{
    margin: 20px;
}
.modal-body{
    text-align: center;
}
.overlay_button{
    color: white;
    background-color: #52808B; 
    margin: 5px; 
    margin-top: 20px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.group_overlay_button{
    justify-content: center;
    display: flex;
}

.b_second{
    background-color: #84afb9; 
}
h1{
    margin-top: 10px;
}
.image{
    width: 50%;
}

.contenu-main{
    display: block;
}

main{
    display: grid !important;
    grid-template-columns: 4fr 1fr;
}

.cont{
    margin : 0;
    margin : auto;
    width : 70%;
}

.blocWifi, .bouton_detection {
    margin-right: 0;
}

.wifi_intensite{
    margin-top: auto;
    margin-bottom: auto;
}